html {
  background-color: #aad7d9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  gap: 2rem;
}

#navbar.click {
  color: black;
}

footer {
  display: flex;
  margin-top: 10px;
}

.companyname {
  display: flex;
  justify-content: center;
}
